{% extends 'main/layout.html' %}

{% block title %}
    о нас
{% endblock %}

{% block content %}
    <main class="container">

  <div class="row g-5">
    <div class="col-md-8">
      <h2 class="pb-4 my-4 fst-italic border-bottom">
        О нас
      </h2>

      <article class="blog-post">
        <h3 class="blog-post-title">Что такое артистическое фехтование</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cumque eaque error, id natus tempore. Culpa dolore dolores error fugiat ipsum odio officia repellat. Culpa maxime nobis officiis sit vel.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda consequuntur cumque debitis dolores enim, eos esse et impedit itaque laboriosam magnam quae sit, totam vel? Facilis repellendus sit totam? Assumenda autem debitis delectus, dolorem eum explicabo ipsam magnam minima nesciunt possimus quis rerum, suscipit tempora tenetur ullam ut voluptatem.</p>
        <h3>История</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis deleniti doloremque et provident quibusdam quod! Aliquid cum cupiditate, doloremque doloribus dolorum ducimus eaque laborum minus necessitatibus omnis, quasi ullam ut velit? Accusamus aliquid consectetur deleniti doloribus earum eveniet explicabo inventore, ipsa iure, laudantium libero maiores molestiae molestias natus quaerat qui quis quo quod reiciendis similique sunt tempore vitae? Fugit neque obcaecati voluptatum? A aperiam, assumenda beatae blanditiis culpa delectus dicta doloribus, eius excepturi ipsam, maiores mollitia nam. Adipisci asperiores dicta dignissimos dolor ea earum, eveniet facilis fugiat incidunt inventore ipsum iusto labore minima, nostrum nulla placeat quam quia repellat sint.</p>
        <h3>На каком оружии мы фехтуем?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae, consequatur corporis distinctio dolorem enim error, impedit iste maxime nemo quae quibusdam quo repellat sint, soluta temporibus unde vel voluptas.</p>
        <ul>
            <li><strong>Оружие первой ступени</strong></li>
            <ul>
                <li>Пехотный меч</li>
                <li>Легкая бургундская палка</li>
            </ul>
            <li><strong>Оружие второй ступени</strong></li>
            <ul>
                <li>Рыцарский меч</li>
                <li>Тяжелая бургундская палка</li>
                <li>Шпага</li>
                <li>Меч и баклер</li>
            </ul>
          <li><strong>Оружие третьей ступени</strong></li>
            <ul>
                <li>Гражданиский меч</li>
                <li>Норманский топор</li>
                <li>Одноручный топор и щит</li>
            </ul>
        </ul>
        <h3>Как проходят наши тренировки</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus eum odio velit veniam voluptates!
              A accusantium alias asperiores atque consequuntur delectus deserunt dicta dolor dolorum eaque eum
              excepturi, fugiat impedit inventore iusto labore maiores nostrum nulla odit pariatur quaerat quas, quasi
              quos totam, ut voluptate voluptatum. A atque distinctio ipsa iure labore mollitia nemo nostrum odio omnis
              optio placeat porro praesentium quaerat, reiciendis vel, veritatis voluptates? Alias architecto deserunt
              fugiat maiores tenetur vero! Aspernatur, iusto minus? Ad dolore earum excepturi expedita id ipsa ipsum
              itaque maiores maxime modi nihil, nostrum numquam odit quas quo quod, recusandae repudiandae soluta
              tenetur.</p>
      </article>
      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Наверх</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4">
          <h4 class="fst-italic">Наши выступления</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">2023</a></li>
            <li><a href="#">2022</a></li>
            <li><a href="#">2021</a></li>
            <li><a href="#">2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Где нас можно найти?</h4>
          <ol class="list-unstyled">
            <li><a href="#">Контакты</a></li>
            <li><a href="#"><i class="fa-brands fa-vk"></i> Вконтакте</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Telegram</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}