{% load static %}

<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4">
          <h4 class="fst-italic">Наши выступления</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">2023</a></li>
            <li><a href="#">2022</a></li>
            <li><a href="#">2021</a></li>
            <li><a href="#">2020</a></li>
          </ol>
        </div>
        
        <div class="p-4">
          <h4 class="fst-italic">Где нас можно найти?</h4>
          <ol class="list-unstyled">
            <li><a href="#">Контакты</a></li>
            <li><a href="#"><i class="fa-brands fa-vk"></i> Вконтакте</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Telegram</a></li>
          </ol>
        </div>
    </div>
</div>