{% load static %}

<footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img src="{% static 'img/logo.svg' %}" height="30">
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2023 CredendoVidas</span>
    </div>

    <button type="button" class="btn btn-secondary" onclick="window.open('/admin', '_blank');">
        admin
    </button>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-vk"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-telegram"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter"></i></a></li>
    </ul>
</footer>