{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    ГЛАВНАЯ
{% endblock %}

{% block content %}
    <main class="container">
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">{{ resent_posts.0.title }}</h1>
          <p class="lead my-3">{{ resent_posts.0.summary }}</p>
          <p class="lead mb-0"><a href="blog/post-{{ resent_posts.0.id }}" class="text-white fw-bold">Читать дальше</a></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">{{ resent_posts.1.title }}</h3>
              <div class="mb-1 text-muted">{{ resent_posts.1.date }}</div>
              <p class="card-text mb-auto">{{ resent_posts.1.summary }}</p>
              <a href="blog/post-{{ resent_posts.1.id }}" class="stretched-link">Читать дальше</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                  <image style="object-fit: cover" class="img" src="{{ resent_posts.1.cover.url }}" width="200" height="250" onerror="this.src='{% static 'img/noimage.svg' %}';"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">{{ resent_posts.2.title }}</h3>
              <div class="mb-1 text-muted">{{ resent_posts.2.date }}</div>
              <p class="mb-auto">{{ resent_posts.2.summary }}</p>
              <a href="blog/post-{{ resent_posts.2.id }}" class="stretched-link">Читать дальше</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                  <image style="object-fit: cover" class="img" src="{{ resent_posts.2.cover.url }}" width="200" height="250" onerror="this.src='{% static 'img/noimage.svg' %}';"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-5">
        <div class="col-md-8">
          <h2 class="pb-4 mb-4 fst-italic border-bottom">
            Последние события клуба
          </h2>
            {% for news in resent_news %}
               <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        {% if news.type == 'news' %}
                            <strong class="d-inline-block mb-2 text-primary">Новость</strong>
                        {% elif news.type == 'post' %}
                            <strong class="d-inline-block mb-2 text-success">Статья</strong>
                        {% endif %}
                        <h3 class="mb-0">{{ news.title }}</h3>
                        <div class="mb-1 text-muted">{{ news.date }}</div>
                        <p class="card-text mb-auto">{{ news.teaser }}</p>
                        {% if news.type == 'news' %}
                            <a href="news-{{ news.id }}" class="stretched-link">Подробнее</a>
                        {% elif news.type == 'post' %}
                            <a href="blog/post-{{ news.id }}" class="stretched-link">Подробнее</a>
                        {% endif %}
                    </div>
                    <div class="col-auto d-none d-lg-block">
                          <image style="object-fit: cover" class="img" src="{{post.cover.url }}" width="150" height="100%" onerror="this.src='{% static 'img/noimage.svg' %}';"/>
                    </div>
                </div>
            {% endfor %}
        </div>
          {% include 'main/aside.html' %}
          
      </div>

    </main>
{% endblock %}