{% extends 'main/layout.html' %}

{% block title %}
    расписание
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row g-5">
            <div class="col-md-8">
                <h2 class="pb-4 my-4 fst-italic border-bottom">
                    Расписание тренировок
                </h2>

                <article class="blog-post">
                    <h3 class="blog-post-title">Адрес зала</h3>
                    <p>г. Моква, ул. Исаковского, д. 29, стр. 1 - школа №1302.</p>
                    <p>Узнать подробности и записаться на тренировки можно <a href="{% url 'contacts' %}">здесь</a>.</p>

                    <h3>Расписание</h3>
                    <table class="table">
                        <caption>расписание тренировок</caption>
                        <tr>
                            <th></th>
                            <th>Понедельник</th>
                            <th>Вторник</th>
                            <th>Среда</th>
                            <th>Четверг</th>
                            <th>Пятница</th>
                        </tr>
                        <tr>
                            <th>18:00 - 19:30</th>
                            <td>ГСС</td>
                        </tr>
                    </table>
                </article>
            </div>
        </div>
    </main>
{% endblock %}