{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Склад
{% endblock %}

{% block content %}
    <main class="container">

  <div class="row g-5">
    <div class="col-md-8">
      <h2 class="pb-4 my-4 fst-italic border-bottom">
        Склад реквизита и костюмов
      </h2>
    </div>
  </div>
    <div class="row g-5">
        <div class="col-8">
            <div class="row justify-content-between">

                {% for item in items %}
                    <div class="col-sm m-2 p-2 border">
                        <img class="mb-2" src="{{ item.photo.url }}" height="150">

                        <div class="align-self-end">
                            {% if item.status == item.STORED %}
                            <p class="mb-0 text-success"> На складе</p>
                            {% else %}
                            <p class="mb-0 text-danger"> В работе</p>
                            {% endif %}
                        </div>
                        <h5><a class="link-dark" href="item-id={{ item.id }}">{{ item.name }}</a></h5>
                    </div>
                {% endfor %}
    </div>
        </div>
        <div class="col-4 border-start">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4">
          <h4 class="fst-italic">Теги</h4>
          <div class="row justify-content-between">
              <div class="col m-1"><button class="btn btn-outline-secondary">tag1</button></div>
              <div class="col m-1"><button class="btn btn-outline-secondary">tag2</button></div>
              <div class="col m-1"><button class="btn btn-outline-secondary">tag3</button></div>
              <div class="col m-1"><button class="btn btn-outline-secondary">tag4</button></div>
              <div class="col m-1"><button class="btn btn-outline-secondary">tag5</button></div>
              <div class="col m-1"><button class="btn btn-outline-secondary">tag6</button></div>
              <div class="col m-1"><button class="btn btn-outline-secondary">tag7</button></div>
              <div class="col m-1"><button class="btn btn-outline-secondary">tag8</button></div>
              <div class="col m-1"><button class="btn btn-outline-secondary">tag9</button></div>
          </div>
        </div>
      </div>
    </div>
    </div>
</main>
{% endblock %}